

@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
	padding-top: 1rem;
	background-color: $footer;
}
.contact-box {
	position: relative;
	&--icon {
		width: 2rem;
		stroke: $primary;
		padding-top: 0.5rem;
	}
	&--info {
		
	}
}